<%= error_messages_for :contact_person %>
<% form_for @contact_person do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :picture_url %><br />
    <%= f.text_field :picture_url %>
  </p>	
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p><%= f.submit "Abschicken" %></p>
<% end %>
